*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(-20deg, rgba(2,0,36,1) 0%, rgba(59,93,107,1) 45%, rgba(0,212,255,1) 90%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2{
    color: white;
    font-weight: 600;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: white;
}
label{
    margin: 2%;
}
input{
    margin: 2%;
}
select{
    margin:2%;

}
div{
    display: flex;
    flex-direction: column;
}

.check{
    display: flex;
    flex-direction: row;
    align-items: center;

}
section{
    background-color: black;
    border-radius: 30px;
    opacity: 0.9;
    padding:50px 90px 50px 90px;
    margin: 20px;
}
.content{
    padding: 6px;
    border-radius: 4px;
    border: none;
}

button{
    padding: 10px;
    border-radius: 4px;
    background-color: blueviolet;
    color: white;
    border: none;
    margin: 10px;
    font-weight: bold;
}
button:hover{
    opacity: 0.9;
}

input:focus{
    border: 4px solid rgba(252,176,69,1);
}
textarea:focus{
    border: 4px solid rgba(252,176,69,1);
}

@media (max-width:768px ){
    section{
        padding:20px 40px 20px 40px ;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
